* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

/* Container principale */

.big-container {
    display: flex;
    flex-direction: row;
}

header {
    width: 230px;
    position: fixed;
    top: 0;
    left: 0;
}

main {
    height: calc(100vh - 90px);
    flex-grow: 1;
    position: relative;

    margin-left: 230px;
    overflow-y: auto;
    font-family: sans-serif;

    background-color: #141922;
}

/* Side-bar */

.side-bar {
    height: calc(100vh - 90px);
    /* test */

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 230px;

    background-color: #000000;
}

.top .logo {
    padding: 20px;
    padding-right: 70px;
}

.top .menu {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding-bottom: 25px;
}

.menu a {
    height: 20px;
    border: 1px solid red;   
    /* test */

    padding-left: 20px;
}

.playlist {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding-left: 20px;
}

.playlist h2 {
    height: 20px;
    border: 1px solid red;   
    /* test */

}

.playlist-name:nth-child(2) {
    height: 40px;
    border: 1px solid red;   
    /* test */

}

.playlist-name {
    height: 20px;
    border: 1px solid red;   
    /* test */

}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-bottom: 10px;
    padding: 0 20px;
}

.bottom .install {
    height: 20px;
    border: 1px solid red;   
    /* test */

}

.bottom .user {
    height: 20px;
    border: 1px solid red;   
    /* test */
}



/* Main */


/* Top-View */

.top-view {
    height: 80px;
    /* test */
    display: flex;
    align-items: center;
    justify-content: end;
    position: fixed;
    top: 0;
    z-index: 1;

    width: calc(100% - 230px);
    padding-right: 10px;
    
    background-color: #080b1299;
}

.top-view button {
    padding: 10px 40px;

    font-weight: bold;

    border: 1px solid white;
    border-radius: 50px;
    color: white;
    background-color: transparent;
}



/* Main-View */

.main-view {
    padding: 100px 20px 50px;
}

.main-view h2:not(.recently-played h2) {
    margin-bottom: 10px;

    color: #FFFFFF;
}

.suggestion {
    font-size: 12px;
    font-weight: bold;

    color: #7D7F84;
}


/* Main-Menu */

.main-menu {
    max-width: 600px;
    margin: auto;
}

.main-menu ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    margin-bottom: 35px;
}

.main-menu ul li {
    list-style-type: none;
}

.main-menu ul li a {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #7D7F84;
}

/* Recently-Played */

.recently-played h2 {
    color: #FFFFFF;
}

.albums {
    display: flex;
    flex-direction: row;
    gap: 15px;

    margin-top: 30px;
    margin-bottom: 30px;
}

.album {
    height: 300px;
    border: 1px solid blue;
    /* test */

    width: calc((100% / 6) - (15px * 5 / 6));
}



/* Footer player */

.player {
    height: 90px;
    /* test */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0;

    width: 100vw;

    background-color: #282828;
}

.box {
    height: 40px;
    border: 1px solid red;
    /* test */

    width: calc(100vw / 3);
}

.now-playing,
.song-info,
.song-buttons {
    display: flex;
    align-items: center;
}

.song-info * {
    border: 1px solid green;
    /* test */
    height: 40px;
}

.song-image {
    width: 40px;
    margin-right: 7px;
}

.song-detail {
    display: flex;
    flex-direction: column;
    width: 100px;

    padding: 5px 0;
}

.song-buttons {
    border: 1px solid green;
    /* test */
    height: 40px;

    margin-left: 10px;
}

.save {
    width: 20px;
}

.folder {
    width: 20px;
}

.player-controls {
    border: 1px solid red;
    /* test */
    height: 70px;
}

.controls-buttons {
    height: 40px;
    border: 1px solid blue;
    /* test */

    display: flex;
    justify-content: center;
    gap: 20px;
}

.controls-buttons * {
    border: 1px solid yellow;
    width: 30px;
    /* test */
}

.control-line {
    height: 30px;
    border: 1px solid blue;
    /* test */
}
